@import "../styles/common.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.system {
    display         : flex;
    justify-content : space-between;
    background-color: $background2;
    width           : 100%;
    height          : 100%;
    font-family     : 'Montserrat', sans-serif;

    .menu {
        background-color: antiquewhite;
    }

    .center-system {
        width           : 100%;
        height          : 100vh;
        left            : 0px;
        background-color: darken($background2, 3);
        padding         : 20px;

        .system-list {
            width : 100%;
            height: 100vh;
            margin: 0;


        }
    }
}