.user-redux {
    display: flex;

    justify-content: space-around;

    .avatar-form {
        width : 320px;
        margin: 20px;

        .preview-image {
            width : 320px;
            height: 280px;
            border: solid 1px red;

            img {
                width : 320px;
                height: 280px;
            }

        }
    }

    .form-doctor {
        border : solid 1px red;
        padding: 20px;
        margin : 20px;
        left   : 0px;

        .preview-image {
            width : 200px;
            height: 50px;
            border: solid 1px red;
        }

    }
}